@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /* colors */
    --brown: #a75f4a;
    --dark-blue: #20212b;
    --smoth-white: #fff5f2;
    --smoth-yellow: #f3d7a5;

    /* font weigth */
    --regular: 400;
    --black: 800;

    /* height and widht */
    --section-height: 720px;
    --arrow-height: 30px;
    --arrow-width: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    padding-top: 30px;
    background-color: var(--smoth-white);

    font-family: "Poppins", sans-serif;
    font-weight: var(--regular);
    font-size: 18px;
}

.header {
    background-color: var(--smoth-white);
    box-shadow: 2px 0 100px var(--dark-blue);

    width: 100%;
    height: 150px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
}

#logo-white {
    width: 250px;
    height: 150px;
}

.nav-links {
    display: flex;
    justify-content: space-around;

    
    width: 40vw;
}

.link {
    text-decoration: none;
    color: var(--brown);
    padding: 0 10px;
    position: relative;
    
}

.link::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--brown);
    height: 3px;
    width: 0;
    transition: .2s ease-in-out;
}

.link:hover::after {
    width: 100%;
}

.section {
    height: 720px;
    display: flex;
    justify-content: center;
}

.section-brown {
    background-color: var(--brown);
}

.section-dark-blue {
    background-color: var(--dark-blue);
}

.section-smoth-white {
    background-color: var(--smoth-white);
}

.arrow {
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: relative;
    /* section heigth minus half of height of arrow (720px - 15px) */
    top: 705px;
}